* {
    font-family: Arial;
}

:root {
    --primary-color: #20b2aa;
    --secondary-color: #b19cd9;
    --tertiary-color: #D99294;
    --quaternary-color: #779ecb;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 56px;
    padding-top: 100px;
    font-family: 'DotGothic16', sans-serif;
}

h2 {
    color: var(--quaternary-color);
    text-align: center;
    margin: 15px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 36px;
}

h3 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 26px;
    padding-bottom: 80px;
}

a {
    text-decoration: none;
}

#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
}

nav {
    background-color: white;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbar li {
    display: inline-block;
}

#navbar a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 0px 20px;
    color: var(--tertiary-color);
}

#navbar a:hover {
    color: var(--quaternary-color);
    font-weight: bold;
}

#welcome-section, #certificates, #projects, #collaborative-projects, #contact {
    height: 100vh;
    width: 100%;
}

#contact {
    text-align: center;
}

.contactLink {
    margin-top: 40px;
}

.contactLink li {
    display: inline-block;
    list-style: none;
    margin: 0 60px;
}

.contactLink a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 22px;
}

.contactLink a:hover {
    font-weight: bold;
    color: var(--secondary-color);
}

.cert-tile, .project-tile, .collabproject-tile {
    text-align: center;
    color: var(--quaternary-color);
    font-weight: bold;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.cert-tile a, .project-tile a, .collabproject-tile a {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 22px;
}

.cert-tile a:hover, .project-tile a:hover, .collabproject-tile a:hover {
    color: var(--secondary-color);
    opacity: .5;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

img {
    height: 40%; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
    padding-left: 15px;
    padding-right: 15px;
}

img:hover {
    opacity: .5;
}

@media screen and (max-width: 800px) {

#navbar ul {
    justify-content: flex-start;
}

h2 {
    margin: 0;
}

img {
    height: 30%; 
    width: auto;
    max-width: 150px;
    max-height: 150px;
    
}

.cert-tile a, .project-tile a, .collabproject-tile a {
    font-size: 15px;
}

.cert-tile a, .project-tile a, .collabproject-tile a {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 15px;
}

#welcome-section, #certificates, #projects, #collaborative-projects, #contact {
    height: 50vh;
    width: 100%;
}

.wrapper {
    overflow-wrap: break-word;
}

@media screen and (max-width: 600px) {

}